---
import Layout from "@layouts/Layout.astro";
import LogIn from "@components/ui/LogIn.astro";
---

<Layout title="Log In Task Table">
  <main class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <LogIn />
  </main>
</Layout>

<style></style>
