---

---

<div
  class="relative h-10 w-10 rounded-full ring-2 ring-[#B19CD9] overflow-hidden"
>
  <img
    src="marvin.jpg"
    alt="User Name"
    class="h-full w-full object-cover"
    onerror="this.style.display='none'"
  />
  <div
    class="absolute inset-0 flex items-center justify-center bg-gray-200"
    style="display: none;"
  >
    <svg
      class="h-4 w-4 text-[#B19CD9]"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 14c-5 0-7 3-7 3v1h14v-1s-2-3-7-3z"></path>
      <circle cx="12" cy="7" r="4"></circle>
    </svg>
  </div>
</div>
